{% extends "layout.html.twig" %}

{% set active_page = 'contact' %}

{% block content %}
    <div id="content">
        <h1>Contact</h1>

        <form method="post" novalidate>
            {{ form_widget(form) }}

            <input type="submit" name="submit" />
        </form>

    </div>
{% endblock %}
