{% extends "layout.html.twig" %}

{% set active_page = 'index' %}

{% block content %}
    <div id="content">
        <h1>Index</h1>

        <p>Add content here.  <a href="{{ path('contact') }}">Contact</a>.</p>
    </div>
{% endblock %}
